body {
    background-color: rgba(0, 0, 0, 0.234);

}


.borderDuck {
    display: flex;
    border: solid;
    border-color: transparent;
    margin:auto;
    height: 380px;
    margin-top: 80px;
    justify-content: center;
}

header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

}


.duck {
    margin-top: 30px;
    border: solid;
    height: 300px;
    width: 500px;
    background-image: url(Pictures/Dimond.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
fieldset.buttons {
    display: flex;
    justify-content: center;
    border-color: transparent;
}

fieldset.buttons > div.classColor > label.color2 {
    margin-left: 80px;
}


fieldset.buttons1 {
    display: flex;
    justify-content: center;
    border-color: transparent;
}
fieldset.buttons > div.text > label.move {
    margin-right: 20px;
}
